<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.rsalvaterra.fon"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<uses-feature
		android:name="android.hardware.wifi"
		android:required="true" />

	<uses-sdk
		android:minSdkVersion="5"
		android:targetSdkVersion="22" />

	<application
		android:allowBackup="false"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name">

		<activity
			android:name=".SettingsActivity"
			android:label="@string/app_label">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver android:name=".FonManWifiReceiver">
			<intent-filter>
				<action android:name="android.net.wifi.SCAN_RESULTS" />
				<action android:name="android.net.wifi.STATE_CHANGE" />
			</intent-filter>
		</receiver>

		<receiver android:name=".FonManAlarmReceiver" />

		<service android:name=".FonManService" />

	</application>

</manifest>