<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rsalvaterra.fon"
    android:installLocation="auto"
    android:versionCode="50"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="org.rsalvaterra.fon.activity.BasicPreferences"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.rsalvaterra.fon.activity.AdvancedPreferences"
            android:label="@string/app_name" />

        <receiver
            android:name="org.rsalvaterra.fon.WifiIntentReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.net.wifi.SCAN_RESULTS" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name="org.rsalvaterra.fon.IntentHandlingService" />
    </application>

</manifest>